<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="registration_prefix" value="JS" />
    <add key="input_speed_folder" value="./inputs/" />
    <add key="output_speed_folder" value="./outputs/" />
    <add key="ism_locator" value="./outputs" />
  </appSettings>
</configuration>